/* div{
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 150px;
    padding: 10px; */
/* width(size)  style  color */
/* border: 5px solid red; */


/* border-color: blue; */

/* border-style */
/* border-style: solid; */
/* border-style: dashed; */
/* border-style: dotted; */
/* border-style: double; */
/* border-style: groove; */
/* border-style: ridge; */
/* border-style: inset; */
/* border-style: outset; */
/* border-style: none; */
/* border-style: hidden; */
/*All Side  */
/* border-style: solid; */
/*top-bottom     left-right  */
/* border-style: solid dashed; */
/* top,right,bottom,left */
/* border-style: solid dashed double groove;  */
/* border-top-style: dashed;
    border-left-style: double;
    border-right-style: none;
    border-bottom-style: hidden; */

/*border-color */
/* all side  */
/* border-color: red; */
/* border-color: red green; */
/* border-color: red green blue yellow; */
/* border-top-color: red;
    border-left-color: blue;
    border-bottom-color: gray;
    border-right-color: cadetblue; */


/* border-width */
/* border-width: 10px; */
/* border-width: 10px 20px; */
/* border-width: 10px 20px 30px 40px; */
/* border-top-width: 30px;
    border-left-width: 1px;
    border-right-width: 10px;
    border-bottom-width: 40px; */


/* border-radius (px,%)*/
/* border-radius: 10px; */
/* border-radius: 50%; */
/* border-radius: 10px 20px; */
/* border-radius: 10px 20px 30px 40px; */
/* border-end-end-radius: 30px; */
/* border-top-left-radius: 50px; */
/* border-top-right-radius: 50px; */
/* border-end-start-radius: 40px; */
/* border-start-end-radius: 50px; */
/* border-bottom-left-radius: 50px; */
/* border-start-start-radius: 40px; */
/* border-bottom-right-radius: 30px;  */
/* border-radius: 500px; */
/* border-radius: 50%; */
/* border-radius: 20px 50px; */
/* border-radius: 10px 30px 50px 100px; */
/* border-top-left-radius: 40px; */
/* border-top-right-radius: 40px; */
/* border-bottom-left-radius: 40px; */
/* border-bottom-right-radius: 40px; */
/* border-start-start-radius: 40px; */
/* border-start-end-radius: 50px; */
/* border-end-end-radius: 50px; */
/* border-end-start-radius: 50px; */
/* border: 10px solid red; */

/* border-left: 10px solid blue;
    border-right: 10px double black; */
/* border-top: 10px solid blue;
    border-bottom: 10px double black;
    border-radius: 30px 30px 30px 30px; */
/* } */

/* h1{
    color: red;
}
p{
    color: blue;
} */

/*border-image  */
div {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 120px;
    /* padding: 10px; */
    background-color: cadetblue;
    border: 40px solid cadetblue;

    /* border-image: ; */
    /* border-image-source: url("img1.png"); */
    /* border-image-width: 400; */
    /* border-image-repeat:round; */
    /* border-image-slice: 48; */
    /* border-image-outset: 0px; */



    /* border-image-slice:
48 48 48 48;
border-image-width:
20px 20px 20px 20px;
border-image-outset:
0px 0px 0px 0px;
border-image-repeat:
round round;
border-image-source:
url("img1.png");
border-style:
solid; */
}