/* h1{
    color: red;
}
#id1{
    color: aqua;
} */

/* table{
    border: 1px solid red;
    border-collapse: separate;
    border-collapse: collapse;
}
td{
    border: 1px solid red;
}
th{
    border: 1px solid red;
} */
/* tr{
    border: 1px solid red;
} */
/* table{
    border: 1px solid blue;
    padding: 10px;
}
th{
    border: 1px solid blue;
    margin: 100px;
    padding: 10px;
}
td{
    border: 1px solid blue;
    margin: 100px;
    padding: 10px;
} */